.app-bar-background {
    background-color: wheat;
    height: 100vh;
}

.card-lists {
    /* height: 100vh; */
    /* display: flex; */
    /* margin: 10px;  */
}

.card-list {
}

.study-time {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.study-time h4 {
    flex-basis: 33%;
}

.study-time p {
}

.study-time-create-new {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.study-time-create-new h3 {
    margin: 10px;
    align-self: center;
}

.task-create-new {
    display: flex;
    justify-content: center;
}

.complete-button {
    margin: 50px;
}

.mypage {
    display: flex;
    flex-direction: column;
    align-items: center;
}
